@page "/create"
@inject QuestService QuestService
@inject NavigationManager Nav
@using RPGQuestBoard.Models
@using Microsoft.AspNetCore.Components.Forms
@using RPGQuestBoard.Services
<link href="css/site.css" rel="stylesheet" />

<h2>➕ Nova Quest</h2>
<div class="criar">
    <EditForm Model="@quest" OnValidSubmit="HandleSubmit">
    <InputText @bind-Value="quest.Title" placeholder="Título" />
    <InputText @bind-Value="quest.System" placeholder="Sistema" />
    <InputTextArea @bind-Value="quest.Description" placeholder="Descrição curta" />
    <InputText @bind-Value="quest.MasterName" placeholder="Nome do mestre" />
    <InputText @bind-Value="quest.Contact" placeholder="Contato" />
    <button type="submit">Criar Quest</button>
</EditForm>
</div>


@code {
    private Quest quest = new();
    private IBrowserFile? file;

    private bool AreFieldsValid()
    {
        var a = !string.IsNullOrWhiteSpace(quest.Title)
            && !string.IsNullOrWhiteSpace(quest.System)
            && !string.IsNullOrWhiteSpace(quest.Description)
            && !string.IsNullOrWhiteSpace(quest.MasterName)
            && !string.IsNullOrWhiteSpace(quest.Contact);
        return a;
    }

    private async Task HandleSubmit()
    {
        if(AreFieldsValid()){
                    QuestService.AddQuest(quest);
        Nav.NavigateTo("/");
        }

    }
}
